* {
  margin: 0;
  box-sizing: border-box;
}

.page-content {
  background: linear-gradient(to bottom, #271800, #000000);
  height: 100vh;
  width: 100vw;
  padding: 0 16vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.habibi-regular {
  color: white;
  font-family: "Habibi", serif;
  font-weight: 100;
}

.prompt {
  font-size: 45px;
  text-align: justify;
  text-wrap: pretty;
}

.page-number {
  width: 100%;
  font-size: 18px;
}

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.category-container {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.category {
  text-align: right;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}

.fadeInUp-animation {
  animation: 1s fadeInDown forwards;
}
