* {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
}

.opacity-80 {
  opacity: 80%;
}

.opacity-70 {
  opacity: 70%;
}

.opacity-50 {
  opacity: 50%;
}

.opacity-40 {
  opacity: 40%;
}

.image {
  position: absolute;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  min-width: 325px;
  z-index: -1;
}

@media (min-width: 1400px) {
  .image {
    transform: translateY(-15%);
  }
}

@media (max-width: 500px) {
  .image {
    transform: scale(1.2) translateY(-1.5vh);
  }
}

.page-content {
  width: 100vw;
  height: 100vh;
  padding: 20vh 10px 0 10px;

  display: flex;
  justify-content: center;
}

.habibi-regular {
  color: white;
  font-family: "Habibi", serif;
  font-weight: 100;
}

.glassy-card {
  backdrop-filter: blur(8px);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.02)
  );
  padding: 10vh 10vw;
  height: fit-content;
  width: fit-content;
  border-radius: 50px;
}

.title-and-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.title {
  font-size: max(6vw, 64px);
  text-align: center;
}

.divider {
  border: 1px solid white;
  width: 100%;
}

.subtitle {
  font-size: 16px;
  text-align: center;
}

button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 15px 25px;
  border-radius: 30px;
  cursor: pointer;
}

.button-text {
  font-size: 20px;
}

@media (max-width: 500px) {
  .subtitle {
    font-size: 14px;
  }

  .button-text {
    font-size: 16px;
  }
}
